header {
  background-image: linear-gradient(to right, $light-green, $dark-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding: 0 $padding1;
  position: relative;
  overflow: hidden;
  
  a {
    color: white;
    text-decoration: none;
  }
  
  div.logo, div.logo div {
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid $blue;

    @media screen and (max-width: $breakpoint5) {
      height: unset;
    }

    div {
      width: 100%;
      border: none;
      padding: 0 14px;

      span {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 30px;

        @media screen and (max-width: $breakpoint5) {
          font-size: 20px;
        }
      }

      @media screen and (max-width: $breakpoint5) {
        padding: 10px;
      }

      &:first-child {
        span {
          color: $blue;
        }
      }

      &:last-child {
        background-color: $blue;

        span {
          color: #3ca1a1;
        }
      }
    }
  }

  @media screen and (max-width: $breakpoint1) {
    padding: 0 $padding2;
  }

  @media screen and (max-width: $breakpoint6) {
    padding: 0 $padding3;
  }

  @media screen and (max-width: $breakpoint9) {
    padding: 0 $padding4;
  }
}