main {
  height: 100%;
  background-image: linear-gradient($light-grey, white);
  padding: 30px $padding-horizontal-1920px 50px;
  
  @media screen and (max-width: 1280px) {
    padding: 30px $padding-horizontal-1280px 50px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;

    .grid-item {
      cursor: pointer;
      background-color: white;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
      padding: 20px;
      align-items: center;
      display: flex;

      &.highlight-box {
        grid-column-start: 1;
        grid-column-end: 4;
        cursor: default;

        div {
          display: flex;
          flex-direction: column;
          
          &.labels {
            margin-left: 30px;

            span {
              font-size: 16px;
              text-transform: uppercase;
              color: $grey;
              text-align: right;
              line-height: 25px;
            }
          }

          &.values {
            margin-left: 16px;

            span {
              font-size: 20px;
              font-weight: 600;
              color: $dark-blue;
              line-height: 25px;
            }
          }
        }
      }

      .image {
        height: 100px;
        width: 100px;
        background-size: contain;
        border-radius: 50%;

        .number {
          background-color: $light-green;
          height: 25px;
          width: 25px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          float: right;

          span {
            color: $dark-blue;
            font-weight: 600;
            font-size: 20px;
          }
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        font-size: 12px;
        
        span {
          text-align: left;

          &.name {
            font-size: 20px;
            font-weight: 600;
            color: $dark-blue;
          }

          &.position {
            font-size: 16px;
            color: $grey;
          }
        }
      }

      &.box {
        cursor: pointer;

        &:hover, &.active {
          background-color: $blue;
          transition-duration: .5s;

          .content span {
            color: white;
            transition-duration: .5s;
          }
        }
      }
    }
  }
}