@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

$light-green: #4dd2d2;
$dark-blue: #092331;
$light-grey: #d9d9d9;
$grey: #092432;
$blue: #002b50;

$padding1: 255px;
$padding2: 100px;
$padding3: 50px;
$padding4: 20px;

$breakpoint1: 1480px;
$breakpoint2: 1280px;
$breakpoint3: 1010px;
$breakpoint4: 950px;
$breakpoint5: 750px;
$breakpoint6: 650px;
$breakpoint7: 520px;
$breakpoint8: 420px;
$breakpoint9: 340px;
$breakpoint10: 1675px;

@function calcPadding($screenWidth) {
  @if ($screenWidth > $breakpoint1) {
    @return 255px;
  } 
  @if ($screenWidth > $breakpoint6) {
    @return 50px;
  }
  @if ($screenWidth < $breakpoint3) {
    @return 100px;
  }
  @return 255px;
}

html, body {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
}

button {
  border: none;
  background-color: #fff;
  outline: none;
}

@import 'header';
@import 'header-nav';
@import 'main';
@import 'grid-item';